<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CustomerMapper">
  <select id="findAll" resultType="com.example.model.Customer">
    SELECT id, name, email FROM T_CUSTOMER ORDER BY id DESC
  </select>
  <insert id="insert" parameterType="com.example.model.Customer">
    INSERT INTO T_CUSTOMER(id, name, email) VALUES (#{id}, #{name}, #{email})
  </insert>
</mapper>
