<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.legacy.LegacyMapper">

    <select id="selectLegacyRecords" resultType="map">
        SELECT
            t.ID,
            t.NAME,
            t.VALUE,
            t.STATUS
        FROM LEGACY_DATA t
        WHERE 1=1
        <if test="dataType != null and dataType != ''">
            AND t.TYPE = #{dataType}
        </if>
        <if test="dataStatus != null and dataStatus != ''">
            AND t.STATUS = #{dataStatus}
        </if>
        AND t.ACTIVE_FLAG = 'Y'
        ORDER BY t.CREATED_DATE DESC
    </select>

</mapper>